@include media-sm {
  .home {
    &-image {
      height: 190px;
    }
    h1 {
      font-size: 3rem;
    }
    h2 {
      font-size: 2rem;
    }
  }
  .projects {
    &-item {
      display: flex;
      flex-direction: column;
      &:hover {
        &::after {
          opacity: 0;
        }
        .projects-btn {
          opacity: 1;
        }
      }
    }
    &-btns {
      position: relative;
      top: 0;
      height: 100%;
      width: 100%;
      z-index: 1;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
      text-align: center;
    }
    &-btn {
      padding-top: 0.3rem;
      padding-bottom: 0.3rem;
      background: $secondary-color;
      text-transform: uppercase;
      font-size: 0.6rem;
      opacity: 1;
      font-weight: 700;
      color: set-text-color($secondary-color);
      @include transition-ease;

      &:hover {
        color: set-text-color(set-text-color($secondary-color));
      }
    }
  }
  .contacts {
    .text-secondary {
      font-size: 1.4rem;
    }
  }
}

@include media-md {
  .menu-btn {
    visibility: hidden;
  }
  .nav {
    visibility: visible;
    height: 70px;

    .menu-nav {
      display: block;
      transform: translateY(0);
      height: 100%;

      text-align: right;

      &-item {
        display: inline;
        padding-right: 1.5rem;
      }

      &-link {
        font-size: 1.5rem;
      }
    }
  }

  .about-image {
    margin-top: 3rem;
    height: 190px;
    @include transition-ease;
  }
  .projects {
    &-image {
      margin-top: 6rem;
      height: 190px;
      @include transition-ease;
    }
    &-items {
      width: 60vw;
      margin: 2rem auto 0 auto;
      display: grid;
      grid-template-columns: 3, 1fr;
      grid-gap: 2rem;
    }
  }
}

@include media-lg {
  .projects {
    &-image {
      margin-top: 6rem;
      height: 190px;
      @include transition-ease;
    }
    &-items {
      width: 70vw;
      margin: 2rem auto 0 auto;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 1rem;
    }
  }
}
