@include media-md {
    .menu-btn {
        visibility: hidden;
    }
    .nav {
        visibility: visible;
        height: 70px;

        .menu-nav {
            display: block;
            transform: translateY(0);
            height: 100%;

            text-align: right;

            &-item {
                display: inline;
                padding-right: 1.5rem;
            }

            &-link {
                font-size: 1.5rem;
            }
        }
    }

    .about-image {
        margin-top: 3rem;
        height: 190px;
        @include transition-ease;
    }
    .projects {
        &-image {
            margin-top: 6rem;
            height: 190px;
            @include transition-ease;
        }
        &-items {
            width: 60vw;
            margin: 2rem auto 0 auto;
            display: grid;
            grid-template-columns: 3, 1fr;
            grid-gap: 2rem;
        }
    }
}

@include media-lg{
    .projects {
        &-image {
            margin-top: 6rem;
            height: 190px;
            @include transition-ease;
        }
        &-items {
            width: 35vw;
            margin: 2rem auto 0 auto;
            display: grid;
            grid-template-columns: repeat( 1, 1fr);
            grid-gap: 2rem;
        }
    }
}